.DS_Store
*/xcuserdata/*
*.xcuserstate
*.xcshareddata

# Xcode files
*.xcuserdata
*.xcsettings
xcshareddata/xcschememanagement.plist
xcshareddata/xcschemes/*.xcscheme

# Swift Package Manager
.swiftpm/
Package.resolved
# Ignore the specific project.pbxproj file
# Xcode workspace settings
*.xcworkspace
contents.xcworkspacedata

# Ignore IDE workspace checks
IDEWorkspaceChecks.plist
LBTASwiftUIFirebase 2/LBTASwiftUIFirebase.xcodeproj/xcuserdata/ivan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

**/Secrets.plist
LBTASwiftUIFirebase 2/LBTASwiftUIFirebase/Secrets.plist
# Ignore specific Xcode project file

# Ignore Secrets files
**/Secrets.plist